form .buttons button {
  border-radius: 5px;
  background-color: $secondaryLight;
  color: $white;
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: .03em;
  padding: 0.7rem 1.7rem;
  width: 100%;
}