// =====================================
// ========== VAULT SECTION ============
// =====================================

/* Categories Section */ 
#vault-categories {
  .vault_head {
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 21px;
    @include tablet-screen {
      display: none;
    }
    > svg {
      height: 1rem;
      margin-right: 0.4rem;
      path {
        fill: #f47532;
      }
    }
  }
  .vault-categories_body {
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(11rem,1fr));
    margin-bottom: 30px;
    margin-right: 0.4rem;
    @include tablet-screen {
      display: none;
    }
    >div {
      background-color: #f6f7fe;
      border-radius: 3px;
      bottom: 0;
      box-sizing: border-box;
      cursor: pointer;
      display: flex;
      font-size: 15px;
      font-weight: 500;
      height: 100%;
      margin: 0;
      max-height: none;
      min-height: 3.68rem;
      padding: 10px 15px;
      position: relative;
      right: 0;
      transition: .3s ease-in-out;
      width: 100%;
      &:hover {
        bottom: 4px;
        box-shadow: 3px 5px 12px #d7d9ea1a;
        right: 2px;
      }
      &:hover:after {
        bottom: -10px;
        content: "";
        height: 100%;
        position: absolute;
        right: -10px;
        width: 100%;
      }
      >svg {
        align-self: center;
        height: auto;
        min-width: 1.4rem;
        width: 1.4rem;
        path {
          transform: translate(22.793, 279.958);
          fill: rgb(57, 73, 155);
        }
      }
      > span {
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        align-self: center;
        display: -webkit-box;
        flex: 2 1;
        margin: 0 0 0 1rem;
        overflow: hidden;
        text-overflow: ellipsis;

      }
    }
  }
}

/* Categories Section */ 
#vault-elements {
  .vault_head {
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 21px;
    > svg {
      height: 1rem;
      margin-right: 0.4rem;
      path {
        fill: #f47532;
      }
    }
  }
  .vault-elements_body {
    grid-gap: 8px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 1rem;
    grid-template-columns: repeat(auto-fill,12.5rem);
    >div {
      grid-column-gap: 1.25rem;
      align-items: center;
      background-color: #f6f7fe;
      border: 0.125rem solid #f6f7fe;
      border-radius: 0.3125rem;
      column-gap: 1.25rem;
      cursor: pointer;
      display: flex;
      grid-template-columns: 1.0625rem minmax(0,1fr) auto;
      height: 4.1875rem;
      justify-content: space-between;
      justify-items: start;
      padding: 0.625rem 1.25rem;
      position: relative;
      transition-duration: .2s;
      width: 100%;
      > div:first-child {
        grid-column-gap: 0.6875rem;
        align-items: center;
        column-gap: 0.6875rem;
        display: grid;
        grid-template-columns: 2.75rem minmax(0,1fr);
        > div:first-child {
          background-color: #fff;
          border-radius: 0.1875rem;
          color: #d7d9ea;
          flex: none;
          font-size: 40px;
          font-size: 25px;
          font-weight: 600;
          height: 2.5rem;
          margin: 0;
          padding: 0.15625rem;
          position: relative;
          text-align: center;
          text-align: left;
          text-transform: uppercase;
          transition-duration: .3s;
          width: 65px;
          width: 2.5rem;
          z-index: 1;
          > div:first-child {
            align-items: center;
            background-color: #f6f7fe;
            border: 0.1875rem solid #fff;
            border-radius: 0.21875rem;
            box-sizing: border-box;
            color: #d7d9ea;
            content: attr(alt);
            display: flex;
            font-size: 25px;
            height: 100%;
            justify-content: center;
            left: 50%;
            line-height: 25px;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translate(-50%,-50%);
            transition-duration: .3s;
            width: 100%;
          }
        }
      }
      > div:nth-child(2) {
        grid-column-gap: 0.4375rem;
        align-items: center;
        column-gap: 0.4375rem;
        display: grid;
        grid-auto-flow: column;
        > div {
          align-items: center;
          background-color: #0000;
          border-radius: 0.1875rem;
          cursor: pointer;
          display: flex;
          height: 1.875rem;
          justify-content: center;
          transition-duration: .3s;
          width: 1.875rem;
          > svg {
            height: 1rem;
            margin-right: 0.4rem;
            path {
              fill: #000;
            }
          }
        }
      }
    }
  }
}
