<h1>[Passwise] <%= email.subject %></h1>

<p>Thank you for signing up <%= user.name %>.</p>

<p>Use the verification code below to verify your email.</p> 
  
<p><strong><%= user.verifyShortToken %></strong></p>
