<h1>[Passwise] Confirmez votre enregistrement</h1>

<p>Merci de vous êtes enregistré <%= user.name %>.</p>

<p>Utilisez le code de vérification ci-dessous pour confirmer votre inscription.</p> 
  
<p><strong><%= user.verifyShortToken %></strong></p>
