<h1>[Passwise] Merci d'avoir validé votre inscription</h1>

<p>Nous vous remercions d'avoir complété votre inscription. Cet e-mail confirme que votre compte est activé et que vous faites officiellement partie de la famille !</p>
