<h1>[Passwise] Thank you for registering</h1>

<p>Thank you for completing your registration. This e-mail confirms that your account has been activated and that you are officially part of the family!</p>
