$white: #fff;
$primary: #181a3a;
$primaryDark: rgb(18, 22, 44);
$primaryLight: #f6f7fe;
$secondary: #39499B;
$secondaryLight: #2833B7;
$accent: #F47532;
$light: #ada8b6;

$boxShadow: 0 0 25px rgba(201,204,214,.4);